.logoicon{
	color: #00416A;
}


.lightbox{
    position:absolute;
    top: 3px;
    left: 3px;
    z-index: 9999;
    display:none;
}
.overleey{
    background:#000;
    width:180px;
    height: 130px;
    margin-left: 8px;
    opacity: .6;
    transition:linear 2s;
}
.lightbox a{
    position:absolute;
    z-index: 9999;
    top: 50px;
    left: 80px;
    color: #cac8c7;
    font-size: 30px;
}
.photo_box:hover .lightbox{
    display:block;
}

.f_ram{
    /*width: 11%;*/
    font-size: 14px;    text-align: center;    padding: 5px;
    margin-bottom: 10px;    font-weight: bold;    position: relative;
    display: block;    line-height: 22px;    text-shadow: 0 0 1px;
    min-height: 20px;    padding: 19px;    margin-bottom: 20px;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 0 3px #FAFAFA;
    border: 1px solid #eee;
    background: linear-gradient(to bottom, rgba(30,87,153,0.2) 0%,rgba(125,185,232,0) 100%);
}
.f_ram12{
    background-image: url('../images/p/opa-icons-green32.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 35px;
    vertical-align: text-top;
    width: 34px;
}
.icon32.icon-user, .icon32.icon-user:hover {
    background-position: -32px -160px;
}
.icon32.icon-folder {
    background-position: -192px -160px;
}
.icon32.icon-folder:hover {
    background-position: -224px -160px;
}
.notification_ut {
    border-color: #2FABE9;
    background-color: #67C2EF;
    display: block;    position: absolute;    top: -10px;    right: -5px;
    line-height: 16px;    height: 16px;    padding: 0 5px;
    font-family: Arial, sans-serif;    color: white !important;
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);    border-width: 1px;
    border-style: solid;    border-radius: 10px;
}

/* Notifications & Labels
=================================================================== */

.notification {
	position: absolute;
	top: -1px;
	right: -1px;
	line-height: 16px;
	height: 16px;
	padding: 3px 6px;
	color: white !important;
	text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
	border-width: 1px;
	border-style: solid;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
	-webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
	   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
			box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
}

.notification-small {
	padding: 2px 7px;
	color: white !important;
	text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
	border-width: 1px;
	border-style: solid;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
	-webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
	   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
			box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
}

.label,
.badge {
  	text-shadow: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 12px;
	padding: 3px 6px;
}

.label {
	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}

/* Quick Buttons
=================================================================== */

.quick-button {
	border: 1px solid #ddd;
	margin-bottom: -1px;
  	padding: 30px 0px 10px 0px;
	font-size: 14px;
  	background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  	background-image: -o-linear-gradient(top, #fafafa, #efefef);
  	background-image: linear-gradient(to bottom, #fafafa, #d7d2d2);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
	   -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
			box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
  	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
          	border-radius: 2px;
	display:block;
	color: #646464;
	text-shadow: 0 1px 0px rgba(255, 255, 255, .6);
	text-align: center;
	cursor: pointer;
	position: relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.quick-button:hover {
	text-decoration: none;
	border-color: #a5a5a5;
	color: #444444;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
  	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
       -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
          	box-shadow: 0px 0px 3px rgba(0,0,0,.25);
}
.quick-button:hover .notification {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.6);
       -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.6);
          	box-shadow: 0px 0px 3px rgba(0,0,0,.6);
}

.quick-button i {
	//font-size: 33px;
}

/* Quick Buttons Metro Style
=================================================================== */

.quick-button.metro {
	position: relative;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	filter: none;
	padding: 30px 10px 0px 10px;
	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}

.quick-button.metro p {
	text-align: left;
	margin-top: 20px;
}

.quick-button.metro:hover {
	color: rgba(255,255,255,.9);
	text-shadow: none;
}

.quick-button.metro i {
	font-size: 64px;
	text-align: center !important;
}

.quick-button.metro .badge {
	text-align: center !important;
	position: absolute;
	top: 50%;
	left: 70%;
	background: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}


/* Quick Buttons Small
=================================================================== */

.quick-button-small {
	border: 1px solid #ddd;
  	padding: 15px 0px 0px 0px;
	font-size: 10px;
  	background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  	background-image: -o-linear-gradient(top, #fafafa, #efefef);
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
	   -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
			box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
  	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
          	border-radius: 2px;
	display:block;
	color: #646464;
	text-shadow: 0 1px 0px rgba(255, 255, 255, .6);
	text-align: center;
	cursor: pointer;
	position: relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.quick-button-small:hover {
	text-decoration: none;
	border-color: #a5a5a5;
	color: #444444;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
  	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
       -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
          	box-shadow: 0px 0px 3px rgba(0,0,0,.25);
}

.quick-button-small:hover .notification {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.6);
       -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.6);
          	box-shadow: 0px 0px 3px rgba(0,0,0,.6);
}

.quick-button-small i {
	font-size: 20px;
}

/* Main Colors
=================================================================== */

.black,
.black [class="box-header"],
.black.box,
.slider.black .ui-slider-range, 
.progress.black .ui-progressbar-value
.sliderVertical.black .ui-slider-range,
.progressSlim.black .ui-progressbar-value {
	background: #222 !important;
	border-color: #222 !important;
	color: #fff;
}

.black .box-header h2 i,
.black .box-header .box-icon i,
.black .box-header .box-icon i:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.green,
.green [class="box-header"],
.green.box,
.slider.green .ui-slider-range, 
.progress.green .ui-progressbar-value,
.sliderVertical.green .ui-slider-range,
.progressSlim.green .ui-progressbar-value,
.label-success,
.badge-success {
	background: #00A300 !important;
	border-color: #00A300 !important;
	color: #fff;
}

.greenDark,
.greenDark [class="box-header"],
.greenDark.box,
.slider.greenDark .ui-slider-range, 
.progress.greenDark .ui-progressbar-value,
.sliderVertical.greenDark .ui-slider-range,
.progressSlim.greenDark .ui-progressbar-value {
	background: #1E7145 !important;
	border-color: #1E7145 !important;
	color: #fff;
}

.greenLight,
.greenLight [class="box-header"],
.greenLight.box,
.slider.greenLight .ui-slider-range, 
.progress.greenLight .ui-progressbar-value,
.sliderVertical.greenLight .ui-slider-range,
.progressSlim.greenLight .ui-progressbar-value {
	background: #99B433 !important;
	border-color: #99B433 !important;
	color: #fff;
}

.pink,
.pink [class="box-header"],
.pink.box,
.slider.pink .ui-slider-range, 
.progress.pink .ui-progressbar-value,
.sliderVertical.pink .ui-slider-range,
.progressSlim.pink .ui-progressbar-value {
	background: #9F00A7 !important;
	border-color: #9F00A7 !important;
	color: #fff;
}

.pinkDark,
.pinkDark [class="box-header"],
.pinkDark.box,
.slider.pinkDark .ui-slider-range, 
.progress.pinkDark .ui-progressbar-value,
.sliderVertical.pinkDark .ui-slider-range,
.progressSlim.pinkDark .ui-progressbar-value {
	background: #7E3878 !important;
	border-color: #7E3878 !important;
	color: #fff;
}

.yellow,
.yellow [class="box-header"],
.yellow.box,
.slider.yellow .ui-slider-range, 
.progress.yellow .ui-progressbar-value,
.sliderVertical.yellow .ui-slider-range,
.progressSlim.yellow .ui-progressbar-value,
.label-warning,
.badge-warning {
	background: #FFC40D !important;
	border-color: #FFC40D !important;
	color: #fff;
}

.purple,
.purple [class="box-header"],
.purple.box,
.slider.purple .ui-slider-range, 
.progress.purple .ui-progressbar-value,
.sliderVertical.purple .ui-slider-range,
.progressSlim.purple .ui-progressbar-value {
	background: #603CBA !important;
	border-color: #603CBA !important;
	color: #fff;
}

.blue,
.blue [class="box-header"],
.blue.box,
.slider.blue .ui-slider-range, 
.progress.blue .ui-progressbar-value,
.sliderVertical.blue .ui-slider-range,
.progressSlim.blue .ui-progressbar-value,
.label-info,
.badge-info {
	background: #2D89EF !important;
	border-color: #2D89EF !important;
	color: #fff;
}

.blueDark,
.blueDark [class="box-header"],
.blueDark.box,
.slider.blueDark .ui-slider-range, 
.progress.blueDark .ui-progressbar-value,
.sliderVertical.blueDark .ui-slider-range,
.progressSlim.blueDark .ui-progressbar-value {
	background: #2B5797 !important;
	border-color: #2B5797 !important;
	color: #fff;
}

.blueLight,
.blueLight [class="box-header"],
.blueLight.box,
.slider.blueLight .ui-slider-range, 
.progress.blueLight .ui-progressbar-value,
.sliderVertical.blueLight .ui-slider-range,
.progressSlim.blueLight .ui-progressbar-value {
	background: #EFF4FF !important;
	border-color: #EFF4FF !important;
	color: #fff;
}

.orange,
.orange [class="box-header"],
.orange.box,
.slider.orange .ui-slider-range, 
.progress.orange .ui-progressbar-value,
.sliderVertical.orange .ui-slider-range,
.progressSlim.orange .ui-progressbar-value {
	background: #E3A21A !important;
	border-color: #E3A21A !important;
	color: #fff;
}

.orangeDark,
.orangeDark [class="box-header"],
.orangeDark.box,
.slider.orangeDark .ui-slider-range, 
.progress.oragneDark .ui-progressbar-value,
.sliderVertical.orangeDark .ui-slider-range,
.progressSlim.orangeDark .ui-progressbar-value {
	background: #DA532C !important;
	border-color: #DA532C !important;
	color: #fff;
}

.red,
.red [class="box-header"],
.red.box,
.slider.red .ui-slider-range, 
.progress.red .ui-progressbar-value,
.sliderVertical.red .ui-slider-range,
.progressSlim.red .ui-progressbar-value,
.label-important,
.badge-important {
	background: #EB3C00 !important;
	border-color: #EB3C00 !important;
	color: #fff;
}

.widget.green h2 .glyphicons i:before,
.widget.greenDark h2 .glyphicons i:before,
.widget.greenLight h2 .glyphicons i:before,
.widget.pink h2 .glyphicons i:before,
.widget.pinkDark h2 .glyphicons i:before,
.widget.yellow h2 .glyphicons i:before,
.widget.purple h2 .glyphicons i:before,
.widget.blue h2 .glyphicons i:before,
.widget.blueDark h2 .glyphicons i:before,
.widget.blueLight h2 .glyphicons i:before,
.widget.orange h2 .glyphicons i:before,
.widget.orangeDark h2 .glyphicons i:before,
.widget.red h2 .glyphicons i:before {
	color: #fff;
}

